# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Firebase
ios/firebase_app_id_file.json
android/app/google-services.json

# Environment
.env

# IDE
.idea/
.vscode/
*.iml
.DS_Store
